[Unit]
Description=USB/IP daemon
Documentation=man:usbipd(8)
After=network.target

[Service]
Type=simple
ExecStartPre=/sbin/modprobe usbip-host
ExecStart=/usr/sbin/usbipd -4
KillMode=control-group
Restart=on-failure
RestartSec=5
TimeoutStopSec=15
PrivateTmp=yes
NoNewPrivileges=yes
StandardOutput=journal
StandardError=journal
SyslogIdentifier=usbipd

[Install]
WantedBy=multi-user.target
